.footer__column_info {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  outline: 1px solid red;
}

@media screen and (min-width: 424px) and (max-width: 767px) {
  .footer__column_info {
    display: block;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 423px) {
  .footer__column_info {
    display: block;
    box-sizing: border-box;
  }
}
