.cover__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  z-index: 2;
  cursor: pointer;
  position: relative;
}
@media screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1023px) {
}
