.photo-grid {
  margin: 0 auto;
  padding: 92px 48px 0 48px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
