.intro__list {
  margin: 0;
  padding: 33px 442px 0 148px;
  list-style: none;
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5em;
  color: white;
  width: 690px;
  height: 90px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Цифры указаны обычным шрифтом!!!!*/
