.places__paragraphs {
  margin: 0 auo;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 27px;
  grid-area: paragraphs;
  overflow: hidden;
}
