.footer__author {
  display: inline-flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14em;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
