.lead__title {
  margin: 0 auto;
  padding: 0;
  color: white;
  width: 720px;
  height: 200px;
  font-family: 'Inter';
  font-size: 96px;
  line-height: 1.04em;
  font-weight: 900;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
