.footer__links {
  margin: 0 auto;
  padding: 0;
  line-height: 0;
  list-style: none;
  display: flex;
  gap: 18px;
}

@media screen and (min-width: 424px) and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 423px) {
  .footer__links {
    flex-direction: column;
    box-sizing: border-box;
    gap: 32px;
  }
}
