.header__column-links {
  margin: 0 0 0 0;
  padding: 0;
  min-width: 77px;
  min-height: 30px;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 18px;
  justify-content: flex-end;

  line-height: 0;
}
