.cover {
  margin: 92px 48px;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    margin: 90px auto 88px auto;
  }
}

@media screen and (min-width: 424px) and (max-width: 767px) {
  .cover {
    margin: 77px auto 76px auto;
  }
}

@media screen and (max-width: 423px) {
  .cover {
    margin: 66px auto 64px auto;
    box-sizing: border-box;
  }
}
