.footer__column-info {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

@media screen and (min-width: 240px) and (max-width: 767px) {
  .footer__column-info {
    display: block;
    box-sizing: border-box;
  }
}
