.cover__background {
  position: relative;
  z-index: 0;
  margin: 0;
  padding: 0;
  width: 1184px;
  height: 740px;
  object-fit: contain;
  opacity: 0.8;
  transition: opacity 0.5s ease-in;
}

.cover__background:hover {
  content: '';
  z-index: 1;
  background: #000;
  opacity: 0.3;
}
