.cover__title {
  padding: 0;
  margin: 0 auto;
  max-width: 560px;
  min-height: 152px;
  color: white;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06em;
  text-align: center;
  text-decoration: none;
  background: transparent;
  position: absolute;
  top: 337px;
  left: 360px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__title {
    padding: 0;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1023px) {
  .cover__title {
    padding: 0;
    margin: 0 auto;
    top: 205px;
    left: 104px;
  }
}
