.footer__column-links {
  margin: 0 auto;
  padding: 0;
  line-height: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 424px) and (max-width: 768px) {
  .footer__column-links {
    flex-direction: column;
    box-sizing: border-box;
  }
}
