.photo-grid__image {
  margin: 0;
  padding: 0;
  width: 284px;
  height: 213px;
  object-fit: cover;
  transition: opacity 0.4s ease-in-out;
}

.photo-grid__image:hover {
  background-color: #000;
  opacity: 0.8;
}
