.places__url-heading {
  font-size: 12px;
  font-weight: 400;
  color: #aaaaaa;
  line-height: 1em;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: 1px solid red;
}

@media screen and (min-width: 424px) and (max-width: 767px) {
  .places__url-heading {
    margin-left: 16px;
  }
}
