.places__url-heading {
  font-size: 12px;
  font-weight: 400;
  color: #aaaaaa;
  line-height: 1em;
  letter-spacing: 0.2;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 240px) and (max-width: 767px) {
  .places__url-heading {
    padding-left: 16px;
  }
}
