.places__grid {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: grid;
  justify-self: center;
  grid-template-rows: repeat (2, auto-fit);
  grid-template-columns: minmax(460px, 1fr) minmax(484px, 1fr);
  grid-template-areas:
    'header url'
    'image paragraphs';
  grid-gap: 0 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid red;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .places__grid {
    min-width: 928px;
    display: grid;
    grid-template-columns: minmax(440px, 1fr) minmax(456px, 1fr);
    grid-gap: 0 40px;
    outline: 1px solid red;
  }
}

@media screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1023px) {
  .places__grid {
    width: 100%;
    min-width: 720px;
    display: grid;
    grid-template-columns: minmax(340px, 1fr) minmax(352px, 1fr);
    grid-gap: 0 28px;
    margin: 0;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 424px) and (max-width: 767px) {
  .places__grid {
    width: 100%;
    min-width: 392px;
    display: grid;
    grid-template-columns: minmax(424px, 1fr);
    grid-template-areas:
      'header'
      'url'
      'image'
      'paragraphs';
    grid-gap: 0 25px;
    margin: 0;
    box-sizing: border-box;
  }
}
