.places__grid {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 984px;
  display: grid;
  grid-template-rows: repeat (2, auto-fit);
  grid-template-columns: 460px 484px;
  grid-template-areas:
    'header url'
    'image paragraphs';
  grid-gap: 0 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
