.intro__description {
  margin: 0;
  padding: 40px 442px 0 148px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63em;
  color: white;
  width: 690px;
  height: 208px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: 1px solid red;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro__description {
    margin: 0 auto;
    padding: 40px 48px 0 48px;
  }
}
