.header__column-link {
  margin: 0;
  padding: 0;
  line-height: 1.17em;
  font-size: 24px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  line-height: 0;
  transition: opacity 0.4s ease-in;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.header__column-link:hover {
  opacity: 0.3;
}
