.intro__title {
  margin: 0;
  padding: 0 442px 0 148px;
  font-family: 'Inter';
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07em;
  color: white;
  text-align: left;
  max-height: 58px;
  max-width: 690px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
